.products {
  padding: 0 20px;
  margin-top: 6vw;
}
.products h2 {
  color: #fa869b;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  margin-top: 30px;
}
.products p {
  text-align: center;
  color: #444444;
  font-family: cursive;
  font-size: 1.5vw;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .products h2 {
    font-size: 4vw;
  }
  .products p {
    font-size: 2vw;
  }
}
