.footer {
  margin-top: 4vw;
  background-color: #edebf0;
}
.top-footer {
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-logo .logo {
  font-size: 2.5vw;
  font-weight: 500;
  text-transform: uppercase;
  color: #fa869b;
  text-decoration: line-through;
  font-family: cursive;
}
.footer-logo p {
  color: #444444;
  font-size: 1.2vw;
  line-height: 20px;
}
.footer-details h5 {
  font-size: 1.1vw;
  color: #333333;
  text-transform: uppercase;
}

.footer-text {
  margin-top: 10px;
}
.footer-links a {
  text-decoration: none;
  color: #444444;
  font-size: 1.2vw;
  font-family: sans-serif;
  display: block;
  line-height: 20px;
  transition: color 0.3s ease-in;
  text-transform: capitalize;
}
.footer-links a:hover {
  color: #fa869b;
}
.footer-social h5 {
  font-size: 1.1vw;
  color: #333333;
  text-transform: uppercase;
}
.social a {
  font-size: 22px;
  color: #444444;
  margin: 5px;
}

.footer .footer-bottom {
  padding: 20px;
}
.footer .footer-bottom p {
  text-align: center;
  padding-top: 20px;
  color: #444444;
  font-size: 1.2vw;
}

@media screen and (max-width: 576px) {
  .top-footer {
    flex-wrap: wrap;
  }
  .footer-logo .logo {
    font-size: 4vw;
  }
  .footer-logo p {
    font-size: 3vw;
  }

  .footer-details h5 {
    font-size: 2.5vw;
  }
  .footer-links a {
    font-size: 3vw;
  }
  .footer-social h5 {
    font-size: 3vw;
  }
  .footer .footer-bottom p {
    font-size: 3vw;
  }
}
